{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-l">
        Heading or question goes here
      </h1> -->

      <form class="form" action="/stakeholders" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "accessibility",
          id: "accessibility",
          label: {
            text: "Accessibility and Inclusivity",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Are there any specific accessibility or inclusivity requirements that the design should meet?"
          }
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
