{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>The Project Kickoff Questionnaire in the UX team serves to align team members, gather essential project information, and aid in strategic planning.</p>

    <p>
      <a href="/start">
        Go to the start page
      </a>
    </p>

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}