  {% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Project Kickoff Questionnaire",
        href: "/start"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p><b>Project Kickoff Questionnaire</b> serves three main purposes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><b>Alignment:</b> he questionnaire helps to ensure that all team members involved in the project are on the same page regarding the project's goals, scope, and requirements. It facilitates clear communication and a shared understanding from the very beginning.</li>
        <li><b>Information Gathering:</b> This questionnaire is designed to collect essential information from stakeholders and clients. It helps the UX team gather insights about user needs, business objectives, and any specific preferences, which are crucial for guiding the design and development process.</li>
        <li><b>Planning:</b> By addressing key questions related to the project's objectives, target audience, and expected outcomes, the questionnaire aids in the strategic planning of the project. It assists the UX team in creating a roadmap, setting milestones, and defining a comprehensive plan that aligns with the project's overall vision.</li>
      </ul>

      <p>It will take you around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "project-details",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also come <a href="#">visit the Analysis & Design team</a> for a in person consultation.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="http://digital-planning.glpages.ad.nerc.ac.uk/design-toolkit/">
                Front Door
              </a>
            </li>
            <li>
              <a href="http://digital-planning.glpages.ad.nerc.ac.uk/design-toolkit/">
                Design Toolkit
              </a>
            </li>
            <li>
              <a href="http://digital-planning.glpages.ad.nerc.ac.uk/design-toolkit/" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
